<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kosovo Volunters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

   
     <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    
    <!-- Bootstrap  JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrapvalidator/js/bootstrapValidator.js') }}"></script>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrapvalidator/css/bootstrapValidator.css') }}">



    <script type="text/javascript">
      function setEventIdForVolunteerApplicationForm(eventId){
                $('#eventId').val(eventId);
          }
      function registerEvent(){
              var url = '/create/event';

              var name = $('#eventName').val();
              var description = $('#eventDescription').val();
              var numOfNeededVolunteers = $('#numOfNeededVolunteers').val();
              var imageUrl = $('#imageUrl').val();

              //building dictionary with values from inputs
              var data_json = {
                "name": name,
                "description": description,
                "applicants": {
                  "needed": numOfNeededVolunteers,
                  "applied": 0,
                },
                "imageUrl" : imageUrl
              };

              //Converting the dictionary to Json_Document
              if (name != '' && description != '' && numOfNeededVolunteers != ''){
                  var data_json_string = JSON.stringify(data_json);
                  
                  //Making a post request in url with data converted to json
                  $.ajax({
                      type: 'POST',
                      url: url,
                      dataType: 'json',
                      contentType: 'application/json',
                      data: data_json_string,

                  });
                  // Reload the page
                  window.location.href = '/';
                }
              
          }

      function registerVolunteer(){
            var url = "/register/volunteer";

            var eventId = $('#eventId').val();
            var firstName = $('#firstName').val();
            var lastName = $('#lastName').val();
            var email = $('#email').val();
            var phoneNumber =$('#phoneNumber').val();

            if(firstName != '' && lastName != '' && email != '' && phoneNumber != ''){
              var dataJson = {
                "eventId": eventId,
                "firstName": firstName,
                "lastName":lastName,
                "email": email,
                "phoneNumber":phoneNumber
              };

              //Converting the dictionary to Json_Document
              var jsonStr = JSON.stringify(dataJson);
                //Making a post request in url with data converted to json
                  $.ajax({
                      type: 'POST',
                      url: url,
                      dataType: 'json',
                      contentType: 'application/json',
                      data: jsonStr
                    });
                  // Relaod the page
                  window.location.href = '/';
              }
                
          }

        function deleteEvent(eventId){
            var url = "/delete/event";
             //Making a post request in url with data converted to json
              $.ajax({
                  type: 'POST',
                  url: url,
                  dataType: 'json',
                  contentType: 'application/json',
                  data: eventId
                });
              // Relaod the page
              window.location.href = '/';
            }
        function hideEmptyCols(table) {
            var rows = $("tr", table).length-1;
            var numCols = $("th", table).length;
              for ( var i=1; i<=numCols; i++ ) {
                if ( $("span:empty", $("td:nth-child(" + i + ")", table)).length == rows ) {
                  $("td:nth-child(" + i + ")", table).hide(); //hide <td>'s
                  $("th:nth-child(" + i + ")", table).hide(); //hide header <th>
                    }
                }
        }


      $(document).ready(function(){

            hideEmptyCols($("#mytable"));

            $('#btn_save').click(function(){
              registerEvent();
            });

            $('#btn_apply').click(function(){
              registerVolunteer();
            });

            
            // Initiatilize validation rules
            $('.event-form').bootstrapValidator({
              icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
              },

              fields: {
                eventName: {
                  validators: {
                    notEmpty : {
                      message: 'The event name is mandatory'
                    }
                  }
                },
                eventDescription: {
                  validators: {
                    notEmpty : {
                      message: 'The event description is mandatory'
                    } 
                  }
                },
                numOfNeededVolunteers: {
                    validators: {
                        notEmpty: {
                            message: 'Please specify the number of needed volunteers'
                        },
                        integer: {
                            message: 'Number of needed volunters needs to be a number'
                        }
                    }
                },
                imageUrl: {
                    validators: {
                        uri: {
                            message: 'The image URL is not valid'
                        }
                    }
                }  
              }            
            });

            // Initiatilize validation rules
  
            $('#volunteer-form').bootstrapValidator({
                  icon: {
                      valid: 'glyphicon glyphicon-ok',
                      invalid: 'glyphicon glyphicon-remove',
                      validating: 'glyphicon glyphicon-refresh'
                  },
                  fields: {
                      firstName: {
                          validators: {
                              notEmpty: {
                                  message: 'The username is required'
                              }
                          }
                      },
                      lastName: {
                          validators: {
                              notEmpty: {
                                  message: 'The username is required'
                              }
                          }
                      },
                       email: {
                              validators: {
                                  notEmpty: {
                                      message: 'Please input your email'
                                  },
                                  emailAddress: {
                                      message: 'The given email is not a valid email address'
                                  }
                              }
                          },
                      phoneNumber: {
                              validators: {
                                  notEmpty: {
                                      message: 'Please input your phone number'
                                  },
                                  integer: {
                                      message: 'Your phone number must be a number'
                                  }
                              }
                        }
                  }
              });
          
     });
  </script>

  </head>
  <body>

    <div class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Kosovo Volunteers</a>
  </div>
</div>
    <div class="container">
            
            <div class="row text-center">
               
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#basicModal">Create Event</a>
            </div>
    </div>


    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Create Event</h4>
      
              </div>
              <div class="modal-body">
                <form class='event-form'>
                  <fieldset>
                
                  <div class="form-group">
                    <label for="eventName" class="col-lg-4 control-label">Name:</label>
                    <div class="controls col-lg-8 ">
                    <p><input type="text" class="form-control" id="eventName" name="eventName"></p>
                    </div>
                  </div>

                
                  <div class="form-group">
                    <label for="eventDescription" class="col-lg-4 control-label">Description:</label>
                    <div class="controls col-lg-8">
                      <p><textarea class="form-control" id="eventDescription" name="eventDescription"></textarea></p>
                      
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="numOfNeededVolunteers" class="col-lg-4 control-label">Number of Needed Volunteers:</label>
                    <div class="controls col-lg-8">
                      <p><input type="number" class="form-control" id="numOfNeededVolunteers" name="numOfNeededVolunteers"></p>
            
                    </div>
                  </div>

                   <div class="form-group">
                    <label for="imageUrl" class="col-lg-4 control-label">Image URL:</label>
                    <div class="controls col-lg-8">
                       <p><input type="url" class=" form-control" id="imageUrl" name="imageUrl"></p>
                    </div>
                  </div>

                   <div class="form-group">
                    <div class="col-xs-5 col-xs-offset-8">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type= "submit" id="btn_save" class="btn btn-primary">Create</button>

                    </div>
                </div>
                </fieldset>
            </form>
      </div>
      </div>
      </div>
    </div>
    
    <div id="display_events">

      <table class="table table-striped table-hover" id = "mytable">
        
        <thead> 
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Needed Volunteers</th>
            <th>Number Applied</th>
          </tr>
        </thead>
        <tbody>
        {% for event in events %}
          <tr id="event-{{ event['_id']['$oid'] }}" data-event-id="{{ event['_id']['$oid'] }}">
            <td style="display:none;">{{ event['_id']['$oid'] }}</td>
            <td>{{ event['name'] }}</td>                
            <td style="width:500px;">{{event['description']}}</td>                   
            <td>{{event['applicants']['needed']}}</td>
            <td>{{event['applicants']['applied']}}</td>
            <td> 
                <button type="button" id="btn_apply_event" class="btn btn-primary" data-toggle="modal" data-target="#volunter-application-form-modal" onclick="javascript:setEventIdForVolunteerApplicationForm('{{ event['_id']['$oid'] }}');">Apply</button>
            </td> 
            <td>
              <button type="button" id="btn_delete" class="btn btn-danger"  onclick="javascript:deleteEvent('{{ event['_id']['$oid'] }}');">Delete</button>
            </td>
          </tr>                            
      {% endfor %}
      </tbody>
    </table>

    </div>

  
<div class="modal fade" id="volunter-application-form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Volunteer Application</h4>
            </div>

            <div class="modal-body">
                <!-- The form is placed inside the body of modal -->
                <form id="volunteer-form" method="post" class="form-horizontal">
                <div class="form-group">
                  <div for="eventId" class="col-lg-9">
                    <input type="hidden" class="form-control" id="eventId" name="eventId">
                  </div>
                </div>
                <div class="form-group">
                    <label for="firstName" class="col-lg-3 control-label">First Name:</label>
                      <div class="col-lg-9">
                    <input type="text" class="form-control" id="firstName" name="firstName">
                    </div>
                </div>
                <div class="form-group">
                 <label for="lastName" class="col-lg-3 control-label">Last Name:</label>
                  <div class="col-lg-9">
                   <input type="text" class="form-control" id="lastName" name="lastName">
                  </div>
                </div>

                <div class="form-group">
                  <label for="email" class="col-lg-3 control-label">Email:</label>
                  <div class="col-lg-9">
                    <input type="text" class="form-control" id="email" name="email">
                  </div>
                </div>
                <div class="form-group">
                  <label for="phoneNumber" class="col-lg-3 control-label">Phone Number:</label>
                  <div class="col-lg-9">
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
                  </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-5 col-xs-offset-8">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="btn_apply" class="btn btn-primary">Apply</button>


                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>


  </body>
</html>  