<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kosovo Volunters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

   
     <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    
    <!-- Bootstrap  JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrapvalidator/js/bootstrapValidator.js') }}"></script>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrapvalidator/css/bootstrapValidator.css') }}">
    <script type="text/javascript">
          $(document).ready(function(){

            // Initiatilize validation rules
            $('.event-form').bootstrapValidator({
              feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
              },
              fields: {
                eventName: {
                  validators: {
                    notEmpty : {
                      message: 'The event name is mandatory'
                    }
                  }
                },
                eventDescription: {
                  validators: {
                    notEmpty : {
                      message: 'The event description is mandatory'
                    } 
                  }
                },
                numOfNeededVolunteers: {
                    validators: {
                        notEmpty: {
                            message: 'Please specify the number of needed volunteers'
                        },
                        integer: {
                            message: 'Number of needed volunters needs to be a number'
                        }
                    }
                },
                imageUrl: {
                    validators: {
                        uri: {
                            message: 'The image URL is not valid'
                        }
                    }
                }  
              }            
            });

            // Initiatilize validation rules
            $('.volunteer-form').bootstrapValidator({
              feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
              },
              fields: {
                firstName: {
                  validators: {
                    notEmpty : {
                      message: 'Please input your first name'
                    }
                  }
                },
                lastName: {
                  validators: {
                    notEmpty : {
                      message: 'Please input your last name'
                    } 
                  }
                },
                phoneNumber: {
                    validators: {
                        notEmpty: {
                            message: 'Please input your phone number'
                        },
                        integer: {
                            message: 'Your phone number must be a number'
                        }
                    }
                },
                email: {
                    validators: {
                        notEmpty: {
                            message: 'Please input your email'
                        },
                        emailAddress: {
                            message: 'The given email is not a valid email address'
                        }
                    }
                }  
              }            
            });
          });

          function registerEvent(){
              var url = '/create/event';

              var name = $('#eventName').val();
              var description = $('#eventDescription').val();
              var numOfNeededVolunteers = $('#numOfNeededVolunteers').val();
              var imageUrl = $('#imageUrl').val();

              //building dictionary with values from inputs
              var data_json = {
                "name": name,
                "description": description,
                "applicants": {
                  "needed": numOfNeededVolunteers,
                  "applied": 0,
                },
                "imageUrl" : imageUrl
              };

              //Converting the dictionary to Json_Document
              var data_json_string = JSON.stringify(data_json);
              
              //Making a post request in url with data converted to json
              $.ajax({
                  type: 'POST',
                  url: url,
                  dataType: 'json',
                  contentType: 'application/json',
                  data: data_json_string,

              })

              // Reload the page
              window.location.href = '/'
            
          }

          function setEventIdForVolunteerApplicationForm(eventId){
                $('#eventId').val(eventId);
          }

          function registerVolunteer(event_id){
              var url = "/register/volunteer";

              var eventId = $('#eventId').val();
              var firstName = $('#firstName').val();
              var lastName = $('#lastName').val();
              var email = $('#email').val();
              var phoneNumber =$('#phoneNumber').val();

              var dataJson = {
                "eventId": eventId,
                "firstName": firstName,
                "lastName":lastName,
                "email": email,
                "phoneNumber":phoneNumber
              };

            //Converting the dictionary to Json_Document
            var jsonStr = JSON.stringify(dataJson);
            
              //Making a post request in url with data converted to json
                $.ajax({
                    type: 'POST',
                    url: url,
                    dataType: 'json',
                    contentType: 'application/json',
                    data: jsonStr
                  })

                // Relaod the page
                window.location.href = '/'
          }


 


  </script>

  </head>
  <body>

    <div class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Kosovo Volunteers</a>
  </div>
</div>
    <div class="container">
            
            <div class="row text-center">
               
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#basicModal">Create Event</a>
            </div>
    </div>


    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Create Event</h4>
      
              </div>
              <div class="modal-body">
                <form class='event-form'>
              <fieldset>
                
                <div class="form-group">
                  <label for="eventName" class="col-lg-4 control-label">Name:</label>
                  <div class="controls col-lg-8 ">
                  <p><input type="text" class="form-control" id="eventName" name="eventName"></p>
                  </div>
                </div>

              
                <div class="form-group">
                  <label for="eventDescription" class="col-lg-4 control-label">Description:</label>
                  <div class="controls col-lg-8">
                    <p><textarea class="form-control" id="eventDescription" name="eventDescription"></textarea></p>
                    
                  </div>
                </div>
                <div class="form-group">
                  <label for="numOfNeededVolunteers" class="col-lg-4">Number of Needed Volunteers:</label>
                  <div class="controls col-lg-8">
                    <p><input type="number" class="form-control" id="numOfNeededVolunteers" name="numOfNeededVolunteers"></p>
          
                  </div>
                </div>

                 <div class="form-group">
                  <label for="imageUrl" class="col-lg-4 control-label">Image URL:</label>
                  <div class="controls col-lg-8">
                     <p><input type="url" class=" form-control" id="imageUrl" name="imageUrl"></p>
                  </div>
                </div>


              </fieldset>
            </form>
      </div>
              <div class="modal-footer">
                
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btn_save" class="btn btn-primary" onclick="javascript:registerEvent();" data-dismiss="modal" >Create</button>
              </div>
            </div>
          </div>
    </div>
    <hr>
    <div id="display_events">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Needed Volunteers</th>
            <th>Number Applied</th>
          </tr>
        </thead>
        <tbody>
        {% for event in DisplayEvents %}
          <tr id="event-{{ event['_id']['$oid'] }}" data-event-id="{{ event['_id']['$oid'] }}">
            <td style="display:none;">{{ event['_id']['$oid'] }}</td>
            <td>{{ event['name'] }}</td>                
            <td style="width:500px;">{{event['description']}}</td>                   
            <td id="txt_NrApp">{{event['applicants']['needed']}}</td>
            <td id ="txt_Numri">{{event['applicants']['applied']}}</td>
            <td> 
                <button type="button" id="btn_apply_event" class="btn btn-primary" data-toggle="modal" data-target="#volunter-application-form-modal" onclick="javascript:setEventIdForVolunteerApplicationForm('{{ event['_id']['$oid'] }}');">Apply</button>
            </td>
          </tr>                            
      {% endfor %}
      </tbody>
    </table>

    </div>

    <div class="modal fade" id="volunter-application-form-modal" tabindex="-1" role="dialog" aria-labelledby="volunter-application-form-modal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Volunteer Application</h4>
          </div>
          <div class="modal-body">
            <form class="volunteer-form">
              <fieldset>
                <div class="form-group">
                  <div for="eventId" class="col-lg-9">
                    <input type="hidden" class="form-control" id="eventId" name="eventId">
                  </div>
                </div>

                <div class="form-group">
                 <label for="firstName" class="col-lg-3">First Name:</label>
                  <div class="col-lg-9">
                   <p><input type="text" class="form-control" id="firstName" name="firstName"></p>
                  </div>
                </div>

                <div class="form-group">
                 <label for="lastName" class="col-lg-3">Last Name:</label>
                  <div class="col-lg-9">
                   <p><input type="text" class="form-control" id="lastName" name="lastName"></p>
                  </div>
                </div>

                <div class="form-group">
                  <label for="email" class="col-lg-3 control-label">Email:</label>
                  <div class="col-lg-9">
                    <p><input type="text" class="form-control" id="email" name="email"></p>
                  </div>
                </div>
                
                <div class="form-group">
                  <label for="phoneNumber" class="col-lg-3">Phone Number:</label>
                  <div class="col-lg-9">
                    <p><input type="text" class="form-control" id="phoneNumber" name="phoneNumber"></p>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" id="btn_apply" class="btn btn-primary" onclick="javascript:registerVolunteer();" data-dismiss="modal">Apply</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>  